:root {
    --color1: #DF1F26;
    --color2: #FFFFFF;
    --color3: #314CA0;
    --color4: #212123;
    --text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    --hover-text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
    --border-image: linear-gradient(90deg, hsl(225, 100%, 41%, 0.5), hsl(0, 100%, 50%, 0.5));
    --border-image:linear-gradient(90deg,hsl(240, 3%, 13%,0.5),hsl(225, 100%, 10%, 0.8));
    --gradient: linear-gradient(90deg, var(--color3), var(--color1));
    --reverse-gradient: linear-gradient(90deg, var(--color1), var(--color3));
}

@font-face {
    font-family: 'geoform';
    src: url('../Geoform-Bold-BF6556c6e7190d1.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Liberation Sans";
    font-family: "geoform";
    scroll-behavior: smooth;
}

.accordion-button::after {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background:var(--color4) !important;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

footer {
    background-color: var(--color4);
}

footer a {
    text-decoration: none;
    color: var(--color2);
}

#why-us,
#footer-section,
#map-section {
    position: sticky;
}
#hero-button {
    font-size: 1.2rem;
}

#hero-button svg {
    width: 2rem;
}

.contact-page>*:not(input, header, footer) {
    text-shadow: var(--text-shadow) !important;
}

.home-page .hero-section {
    background: url("https://wallpapers.com/images/hd/garage-background-7xns1q2orkv0hn07.jpg") no-repeat center fixed;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    border-image: fill 1 var(--border-image);
    z-index: 1;
}

.about-page .hero-section {
    border-image: none;
}

#about-section,
#services-section {
    text-shadow: var(--text-shadow);
    position: sticky;
}

h1 {
    cursor: pointer;
}

h1:hover {
    text-shadow: var(--hover-text-shadow);
}

.text-primary {
    transition: all 0.3s ease-in;
}

.text-primary:hover {
    text-shadow: var(--hover-text-shadow);
    cursor: pointer;
}

.hero-section h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
}

.hero-section h1,
.hero-section h3 {
    text-shadow: var(--text-shadow);
    transition: text-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.hero-section h1:hover,
.hero-section h3:hover {
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
}

header {
    position: sticky !important;
    top: 0 !important;
    width: 100%;
    z-index: 10;
}

.glassmorphism {
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}


.logo-text {
    font-weight: 900;
}

.button {
    color: var(--color2);
    padding: 5px 1rem;
    border-radius: 10px !important;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
    padding: 14px;
}

.button span {
    position: relative;
    text-shadow: var(--text-shadow);
    z-index: 2;
}

#nav-btn {
    padding: 8px 12px;
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    transform-origin: right;
    background: black;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.button span svg {
    height: 40px;
    width: 20px;
}

#lottie {
    width: 20%;
}

.nav-link {
    font-size: 1.3rem !important;
    font-weight: 900 !important;
    position: relative;
    color: var(--color2) !important;
    text-shadow: var(--text-shadow);
    display: inline !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 10%;
    height: 2.5px;
    transform: scaleX(0);
    border-radius: 15px;
    width: 85%;
    background-color: var(--color2);
    transition: transform 0.3s ease-in;
    transform-origin: right;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-toggler {
    border: none !important;
    outline: none;
}

.navbar {
    max-width: 100% !important;
}

.navbar-toggler:focus {
    border: none !important;
    outline: none !important;
}

#why-us,
#faq-section {

    text-shadow: var(--text-shadow);
}

#about-side-text,
#about-below-text:hover,
#faq-heading:hover {
    text-shadow: var(--hover-text-shadow);
}

.heading {
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 900;
}

.normal {
    font-size: clamp(1rem, 4vw, 2rem);
    text-wrap: pre-line;
}

#about-text {
    font-size: clamp(0.8rem, 3.5vw, 1.7rem);
}

.justify{
    text-align: justify;
}

.footer-text {
    font-size: clamp(1rem, 1.2vw, 2rem);
}

.why-cards,
.card {
    color: var(--color2) !important;
    cursor: pointer;
    transition: .3s ease-in;
    animation: card-animation both;
    animation-timeline: view();
    animation-range-start: entry 0%;
    animation-range-end: entry 100%;
    transform-style: preserve-3d;
    will-change: transform, opacity;
}

.accordion-item {
    animation: card-animation both;
    animation-timeline: view();
    animation-range-start: entry 0%;
    animation-range-end: entry 130%;
}

.card:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.card-text {
    font-size: 1.2rem;
}

.normal-text {
    font-size: clamp(1.1rem, 3vw + 0.5rem, 1.5rem);
}

#copyright {
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.logo {
    animation: logo 0.5s ease-in-out;
}

.about-page {
    text-shadow: var(--text-shadow);
}

.cta-section {
    background: linear-gradient(--reverse-gradient) !important;
}

#about-btn-1,
#about-btn-2 {
    font-size: 1rem;
}

#about-top-text {
    font-size: clamp(1.2rem, 3vw, 1.7rem);
}

.icon-link {
    transition: transform 0.3s ease;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.icon-link:hover {
    transform: translateY(-3px);
    color: #f8f9fa;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icon-label {
    font-size: 0.85rem;
    font-weight: 500;
}

.accordion-body,
.accordion-button {
    color: var(--color2) !important;
    text-shadow: var(--text-shadow);
}
.hover-opacity:hover {
    opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
  }
  
swiper-slide {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  swiper-container:hover swiper-slide:not(:hover) {
    filter: grayscale(1);
    transition: 0.3s ease-in-out;
  }
  .item {
    padding: 10px;
  }
  swiper-container::part(pagination) .bullet {
    background-color: white !important;
  }
  swiper-container::part(bullet) {
    background-color: var(--color3) !important;
  }
  swiper-container::part(bullet-active) {
    background-color: white;
    opacity: 1;
    position: relative;
  }
  swiper-container {
    --swiper-navigation-size: 2rem;
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 50%;
    padding: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
@keyframes slide {
    to {
        transform: translateX(-50%);
    }
}

@keyframes logo {
    from {
        opacity: 0;
        scale: 0;
    }
}

@keyframes card-animation {
    from {
        opacity: 0;
        transform: perspective(500px) translateY(50px) translateZ(100px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: perspective(500px) translateY(0) translateZ(0) scale(1);
    }
}


@media (max-width: 768px) {
    .icon-link {
        margin: 0 5px;
    }

    lottie-player {
        width: 50px !important;
        height: 50px !important;
    }

    .card-text,
    .justify {
        text-align: center;
    }

    p {
        text-align: start !important;
    }

}

@media (max-width: 576px) {
    lottie-player {
        width: 45px !important;
        height: 45px !important;
    }

    .card-text,
    .justify {
        text-align: center;
    }

    p {
        text-align: start !important;
    }

    .slider::before,
    .slider::after {
        display: none;
    }
}